<div class="example-directive">
  <div class="panel panel-primary">
    <h3 align="center">{{title}}</h3>
    <div class="panel-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">

            <BR/>
            <span ng-repeat="progressBar in progressBars">
            <div class="progress" ng-show="progressBar.show" ng->

              <div id="divProg{{progressBar.id}}" class="progress-bar progress-bar-striped progress-bar-info progress-bar-animated"
                   role="progressbar"
                   aria-valuenow="{{progressBar.value}}" aria-valuemin="0" aria-valuemax="100"
                   style="width:{{progressBar['uIValueInPercentage']}}%">

                <span >{{progressBar['uIValueInPercentage']}}%</span>

              </div>

              </div>
            </span>

            <BR/>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-centered" align="right">
            <div class="btn-group dropup">
              <form class="form" name="form" novalidate>
                <select ng-model="selectedProgressBar" title="click to select target"  >
                  <option  ng-selected="true" ngchange="animateSelectedProgressBar()"
                    ng-repeat="pb in progressBarsThatShow track by $index" value="{{pb.id}}"
                          data-title="pb.id">#progress{{pb.id}}</option>
                </select>
              </form>
            </div>
          </div>

          <div class="col-xs-6 col-centered" >
            <span ng-repeat="button in buttons">
            <button ng-show="button['show']" type="button" class="btnPB" title="click to update progression"
                    ng-click="updateProgressBar(selectedProgressBar, button['id']-1)">{{button['sign']}}{{button['value']}}</button>
            </span>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
