<div class="example-directive">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="progress">
          <div class="progress-bar" ng-style="{width: pbWidth1}"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="progress">
          <div class="progress-bar" ng-style="{width: pbWidth2}"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="progress">
          <div class="progress-bar" ng-style="{width: pbWidth3}"></div>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-xs-1">
      <button type="button" class="btnPB" ng-click="setPB(-20)">-20</button>
    </div>
    <div class="col-xs-1">
      <button type="button" class="btnPB" ng-click="setPB(-10)">-10</button>
    </div>
    <div class="col-xs-1">

      <button type="button" class="btnPB" ng-click="setPB(-10)">-10</button>
    </div>
    <div class="col-xs-1">
      <button type="button" class="btnPB" ng-click="setPB(-10)">-10</button>
    </div>
  </div>
</div>
</div>
</div>
</div>
